<!-- CABECERA TITULO -->
<div class="jumbotron jumbotron-fluid">
    <div class="container">
        <div class="row">           
            <div class="col-md-10">
                <h1 class="display-4">Py-alms</h1>
                <p class="lead">Webscraping in Python</p>
            </div>
            <div class="col-md-2">
                <img class="hidden-xs-down mr-5" src="{{datas.domain}}/static/img/minsait_indra.jpg" width="150" height="90" alt="">
            </div>
        </div>
    </div>
</div>
<!-- /CABECERA TITULO -->
