<!DOCTYPE html>
<html lang="es">
  <head>
    <title>El Trading de Alf | Welcome to the Real World!</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="description" content="Bienvenido al portal de Trading de Alf. Aqui encontrarás datos y análisis sobre mercados financieros con orientación al Trading intradía.">
    <meta name="author" content="Alfredo Sanz | https://alfredo-sanz-martin-cv.appspot.com">
    <link rel="icon" href="../favicon.ico">
     <!--[if IE]>
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <![endif]-->
    
    {% include "inc-import-css.html" ignore missing %}
    <link rel="stylesheet" href="{{datas.domain}}/static/css/public-home-v03.css" />
     
    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
    <![endif]-->
</head>

<!-- BEGIN BODY -->
<body>
    <form id="mainform">
        <input type="hidden" id="mydomain" value="{{datas.domain}}"/>
    </form>


     <!-- /CONTAINER -->
    <div class="container">

        <!-- HEADER -->
        {% include "inc-header.html" ignore missing %}
        <!-- /HEADER -->
        
        <form id="mainform">
            <input type="hidden" id="mydomain" value="{{datas.domain}}"/>
        </form>

        <!-- MAIN BODY-->
        <div class="row">

            <!-- MAIN CONTENT -->
            <div class="col md-8">
                <div class="row">
                    <div class="col-md-7">
                        {% include "home-inc-card-mercados-ibex35.html" ignore missing %}
                    </div>
                    <div class="col-md-5">
                        {% include "home-inc-card-noticias.html" ignore missing %}
                    </div>                    
                </div>

                <div class="row">
                    <div class="col-md-12">
                        {% include "home-inc-card-blog-ultimos.html" ignore missing %}
                    </div>
                </div>
            </div>
            <!-- /MAIN CONTENT -->

            <!-- RIGHT SIDEBAR -->
            <div class="col md-4 myRightSideCol">
                {% include "home-inc-rightadsense.html" ignore missing %}
            </div>
            <!-- /RIGHT SIDEBAR -->

        </div>
        <!-- /MAIN BODY-->

        <!-- FOOTER -->
        {% include "inc-footer.html" ignore missing %}
        <!-- /FOOTER -->

    </div>
    <!-- /CONTAINER -->

    <!-- GLOBAL SCRIPTS -->
    <script src="{{datas.domain}}/static/js/jquery-3.4.1.min.js"></script>
    <script src="{{datas.domain}}/static/js/tether.min.js"></script>
    <script src="{{datas.domain}}/static/js/bootstrap.min.js"></script>
    <script src="{{datas.domain}}/static/js/ie10-viewport-bug-workaround.js"></script>
    
    <script>
        var mobile = '-';
        var domain = '{{datas.domain}}';

        $(document).ready(function() {

            var mydomain = $('#mainform #mydomain').val();
            
           
        });//fin ready
    </script>

    

    
</body>
<!-- END BODY -->
</html>
